.add-project {
  .dropdown {
    width: 100%;
  }
  #organizations-dropdown {
    width: 100%;

    li {
      display: inline-block;

      .avatar-image {
        height: 18px;
        width: 18px;
      }
    }
  }

  .col-md-12 .panel {
    background-color: #f8f8f8;
  }
}
